<% include header.ejs %>
<div class="well jumbotron">
    <h1>Welcome <%= user.username %> 欢迎光临!!</h1>

    <p><a class="btn btn-primary btn-lg" href="/logout" role="button">退出</a> </p>
</div>
<% include footer.ejs %>